<html>
<head>
    <meta charset="UTF-8">
    <title>IoT System (Debug)</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/script.js"></script>
</head>
<body onload="initPage()">
<div class="main" id="top_page">
    <h1>IoT System</h1>
    <a>Debug version</a>
    <a><br>Current temperature config is <span id="config_id">${config}</span></a>
</div>
<div class="main">
    <div class="form">
        <a>Set Config:</a>
        <input type="text" id="config_input">
        <button id="config_btn" onclick="sendConfig(event)">Send</button>
    </div>
</div>
<div class="states">
    <br>Events:
    <div id="event_id"></div>
</div>
</body>
</html>