body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

i {
    color: dimgrey;
}

.main {
    width: 60%;
}

.form {
    margin-top: 8px;
    margin-bottom: 8px;
}

.states {
    margin-top: 8px;
    margin-bottom: 8px;
}

.state {
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    box-shadow: 1px 2px 4px gainsboro;
}

.errorState {
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    box-shadow: 1px 2px 4px indianred;
}

.push {
    width: 35%;
    min-width: 210px;
    height: auto;
    position: fixed;
    top: 10px;
    right: 10px;
    background: gainsboro;
    border-radius: 8px;
    box-shadow: 2px 4px 12px gainsboro;
    padding: 8px;
}

#push_time {
}

#push_id {
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .main {
        width: auto;
    }

    .push {
        width: auto;
        position: static;
        margin-top: 8px;
        margin-bottom: 16px;
    }
}
